* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}


ul li {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #c543c1;
    text-decoration: none;
}

/* style the header position fixed */

.main-head {
    background-color: rgb(244, 243, 243);
    position: fixed; /* inportant to use top and left 
    value to 0 and give a min height of 10vh when I set a position*/
    top: 0;
    left: 0;
    width: 100%;
    height: 19vh;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;

}

nav ul {
    display: flex;
    flex: 0 0 0.5px;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-left: 400px;
}

a:hover {
    color: #000000;
}

#logo {
    width: 15%;
    padding-left: 50px;
}

/* Menu perfectly centred */
.nav-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 50px;
    list-style: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(244, 243, 243, 0.697);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding-left: 30px;
}

.sidebar a {
    width: 100%;
}

.sidebar #logo {
    width: 90px;
}

/* Style about */
.box {
    background-color: rgb(255, 67, 239);
    width: 100%;
    height: 20vh;
    border-radius: 8px;
    color: #fff;
    padding: 6rem;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.about-page {
    padding: 15rem 2rem 4rem;
    background-color: #c543c1;
}

.about-article {
    max-width: 100%;
    margin: auto;
    background: #f9ecfb;
    padding: 4rem;
    border-radius: 8px;
    line-height: 1.8;
}

.about-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #c543c1;
}

.block {
    width: 20vw;
    height: 43vh;
    border-radius: 10px;
    background-color: #636263;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.left {
    float: left;
    margin-right: 1rem;
}

.about-header p {
    font-size: 1.4rem;
    color: #777;
    margin-bottom: 3rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #c543c1;
}

section p,
section li {
    font-size: 1.6rem;
}

.services {
    font-size: 3rem;
    color: #c543c1;
    font-style: normal;
    padding-top: 10px;
}

.columns {
    column-count: 2;
    column-width: 250px;
}

.image {
    width: 60%;
    height: auto;
}

.right {
    float: right;
    margin-left: 1rem;
}


/* style the footer with social media, thermes and condition */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: #c543c1;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
}

/* perfect centered */
.social-icon {
    justify-self: center;
}

.social-icon ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.social-icon li {
    margin: 0;
    padding: 0;
}

.social-icon img {
    width: 30px;
    height: 30px;
    display: block;
    transition: 0.3s ease;
}

.copy-right {
    justify-self: end;
    font-size: 1.2rem;
    padding-right: 150px;
}

/* gauche */
.terms {
    justify-self: start;
    font-size: 1.2rem;
    padding-left: 350px;
}
.terms a:hover {
    color: #000000;
    cursor: pointer; 
}

.social-icon img:hover {
    filter: brightness(100) invert(1);
}

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links li a {
    font-size: 1.4rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}

/* ==========================================
This is for the responsive display on all size
devices <600px, 601px, 768px, 992px, 1200px>
the syntax is: @media (min-width: 600px) {}.
   ==========================================*/

   @media (max-width: 800px){
    .hideonmobile{
        display: none;
    }

    .main-head {
        width: 100%;
        background-color: rgb(244, 243, 243);
        
    }

    .container {
        width: 100%;
        background-color: rgb(185, 41, 185);
    }

    .footer {
        color: #c543c1;
        width: 100%;
    }
   }
