* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}


ul li {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #c543c1;
    text-decoration: none;
}

/* style the header position fixed */

.main-head {
    background-color: rgb(244, 243, 243);
    position: fixed; /* inportant to use top and left 
    value to 0 and give a min height of 10vh when I set a position*/
    top: 0;
    left: 0;
    width: 100%;
    height: 19vh;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;

}

nav ul {
    display: flex;
    flex: 0 0 0.5px;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-left: 400px;
}

a:hover {
    color: #000000;
}

#logo {
    width: 15%;
    padding-left: 50px;
}

/* Menu perfectly centred */
.nav-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 50px;
    list-style: none;
}


/* Styling the form */
  
body {
    background-color: #c543c1;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
  
.contact-section {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    padding: 6rem;
}

  .contact-left {
    display: flex;
}
  
  
.contact-form {
    width: 100%;
    background: #f9ecfb;
    padding: 6rem;
    border-radius: 8px;
    font-size: 2.9rem;
    color: #c543c1;
}
  
.contact-form h2 {
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 18px;
}
  
  label {
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 6px;
}
  
input,
textarea,
select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
textarea {
    resize: vertical;
  }
  
small {
    display: block;
    margin-top: 4px;
    font-size: 15px;
    color: #828181;

}
  
.phone-wrapper {
    display: flex;
    gap: 1rem;
}

.phone-wrapper select {
    width: 35%;
}
  
.country-code {
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
}
  
.phone-wrapper input {
    border-radius: 0 4px 4px 0;
    width: 65%;
}
  
.radio-group {
    display: flex;
    gap: 15px;
}

  /* Branding + map */
.contact-right {
    background: #f9ecfb;
    border-radius: 8px;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: #a30984;
}

.contact-logo {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

.contact-info p {
    font-size: 1.5rem;
}

.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 8px;
}

.checkbox-inline-group {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
  
.checkbox-inline-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: space-between;
    cursor: pointer;
}

.form-group {
    font-size: 1.5rem;
}

.privacy-policy {
    color: #a404cc;
    text-decoration: underline;
}

.privacy-policy:hover {
    color: #ff5cfa;
}
  
.submit-btn {
    width: 100%;
    padding: 1.4rem;
    background: #a30984;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
}
  
.submit-btn:hover {
    background: #ff33da;
    cursor: pointer;
}

  

  /* style the footer with social media, thermes and condition */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 2rem 4rem;
    background-color: aliceblue;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
}

/* perfect centered */
.social-icon {
    justify-self: center;
}

.social-icon ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.social-icon li {
    margin: 0;
    padding: 0;
}

.social-icon img {
    width: 30px;
    height: 30px;
    display: block;
    transition: 0.3s ease;
}

.copy-right {
    color: #c543c1;
    justify-content: space-around;
}

/* gauche */
.terms {
    justify-self: start;
    padding-left: 350px;
}

.terms a:hover {
    color: #000000;
    cursor: pointer; 
}

.social-icon img:hover {
    filter: brightness(100) invert(1);
}

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links li a {
    font-size: 1.4rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}
