* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}


ul li {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #c543c1;
    text-decoration: none;
}

/* style the header position fixed */

.main-head {
    background-color: rgb(244, 243, 243);
    position: fixed; /* inportant to use top and left 
    value to 0 and give a min height of 10vh when I set a position*/
    top: 0;
    left: 0;
    width: 100%;
    height: 19vh;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;

}

nav ul {
    display: flex;
    flex: 0 0 0.5px;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-left: 400px;
}

a:hover {
    color: #000000;
}

#logo {
    width: 15%;
    padding-left: 50px;
}

/* Menu perfectly centred */
.nav-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 50px;
    list-style: none;
}

/* The grid box for port-folio */
.container {
    margin-top: 19vh;
    background-color: rgb(185, 41, 185);
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* responsive */
    font-size: 2rem;
    gap: 10px;
    padding: 0 83px;
}

.box {
    width: 100%;
    height: 400px;
    aspect-ratio: 4 / 3;
    background-color: rgba(58, 58, 58, 0.876);
    overflow: hidden; /* super important pour éviter les débordements */
    border-radius: 7px;
}

.box:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: all 0.3s ease;
}

.box:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.box:hover .overlay {
    opacity: 1;
}


.box:nth-child(9), .box:nth-child(10) {
    height: 200px;
}

.box:nth-child(9), .box:nth-child(10) {
    grid-row: 3; /* les 2 box reste dans la meme ligne, plus presisement
    la troisieme ligne*/
}

/* style the footer with social media, thermes and condition */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: #c543c1;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
}

/* perfect centered */
.social-icon {
    justify-self: center;
}

.social-icon ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.social-icon li {
    margin: 0;
    padding: 0;
}

.social-icon img {
    width: 30px;
    height: 30px;
    display: block;
    transition: 0.3s ease;
}

.copy-right {
    justify-self: end;
    font-size: 1.2rem;
    padding-right: 150px;
}

/* gauche */
.terms {
    justify-self: start;
    font-size: 1.2rem;
    padding-left: 350px;
}
.terms a:hover {
    color: #000000;
    cursor: pointer; 
}

.social-icon img:hover {
    filter: brightness(100) invert(1);
}
